<% layout('layouts/boilerplate') %>
<!-- displays sign in form, styled using bootstraps form controls -->
<div class="container display-flex justify-content-center align-items-center mt-5">
  <div class="row">
    <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
      <div class="card shadow">
        <img src="/images/loginImage.avif" alt="" class="card-image-top">
        <div class="card-body">
          <h5 class="card-title">Login</h5>
          <form action="/login" method="POST" class="validated-form" autocomplete="off" novalidate>
            <div class="mb-3">
              <label class="form-label" for="username">Username</label>
              <input class="form-control" type="text" id="username" name="username" required autofocus>
              <div class="valid-feedback">
                Username Looks good!
              </div>
            </div>

            <div class="mb-3">
              <label class="form-label" for="password">Password</label>
              <input class="form-control" type="password" id="password" name="password" required>
              <div class="valid-feedback">
                Password Looks good!
              </div>
            </div>
            <button class="btn w-100 btn-success">Login</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>